body,
html {
    width: 100%;
    height: 100%;
}

// 动画
@-webkit-keyframes rotating {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes enlarge {
    0% {
        transform: scale(0)
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1)
    }
}

@keyframes enlarge {
    0% {
        transform: scale(0)
    }
    50% {
        transform: scale(1.5)
    }
    100% {
        transform: scale(1)
    }
}

.enlarge {
    -webkit-animation-name: enlarge;
    animation-name: enlarge;
}

@-webkit-keyframes start {
    0%,
    30% {
        opacity: 0;
        -webkit-transform: translate(0, 10px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(0, -8px);
    }
}

@-moz-keyframes start {
    0%,
    30% {
        opacity: 0;
        -moz-transform: translate(0, 10px);
    }
    60% {
        opacity: 1;
        -moz-transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        -moz-transform: translate(0, -8px);
    }
}

@keyframes start {
    0%,
    30% {
        opacity: 0;
        transform: translate(0, 10px);
    }
    60% {
        opacity: 1;
        transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        transform: translate(0, -8px);
    }
}

img {
    display: block;
}

.swiper-container {
    width: 100%;
    height: 100%;
    background: #fff;
    .audio_btn {
        position: fixed;
        width: 35px;
        height: 35px;
        top: 20px;
        right: 20px;
        background: url(./../images/normalMusic.svg) no-repeat;
        background-size: contain;
        z-index: 10;
        transform: rotate(360deg);
        audio {
            visibility: hidden;
        }
        &.rotate {
            animation: 1.5s rotating linear infinite;
            -webkit-animation: 1.5s rotating linear infinite;
        }
    }
    #array {
        position: fixed;
        left: 50%;
        margin-left: -0.25rem;
        bottom: 100px;
        width: 0.5rem;
        height: 0.4rem;
        z-index: 999;
        animation: start 1.5s infinite ease-in-out;
        -webkit-animation: start 1.5s infinite ease-in-out;
    }
    .swiper-slide {
        width: 100%;
        height: 100%;
        position: relative;
        background: url('./../images/bg.png') no-repeat left top;
        background-size: 100% 100%;
        &.swiper-slide1 {
            .container-bg {
                background: url('./../images/con-bg.png') no-repeat;
                width: 88%;
                height: 11.7rem;
                background-size: 100% 100%;
                margin: 0.5rem auto 0;
                overflow: hidden;
                .content {
                    width: 88%;
                    background: url('./../images/content-border.png') no-repeat center;
                    margin: 0 auto;
                    background-size: 90% 80%;
                    height: 6.83rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    h2 {
                        color: #F7D34C;
                        font-weight: bold;
                        font-size: 0.50rem;
                        text-align: center;
                    }
                    .img-item {
                        .item-row {
                            text-align: center;
                            height: 1.20rem;
                            img {
                                width: 1.20rem;
                                height: 1.20rem;
                                display: inline-block;
                            }
                        }
                    }
                    h3 {
                        color: #F7D34C;
                        font-size: 0.30rem;
                        text-align: center;
                    }
                }
            }
            .man-item {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 4.5rem;
                img {
                    display: inline-block;
                    position: absolute;
                    &.img1 {
                        // bottom: -2.5rem;
                        left: -1rem;
                        width: 4.18rem;
                    }
                    &.img2 {
                        // bottom: -2.5rem;
                        left: -0.2rem;
                        width: 5rem;
                        z-index: 100;
                    }
                    &.img3 {
                        // bottom: -2.5rem;
                        right: -0.8rem;
                        width: 5.37rem;
                        z-index: 99;
                    }
                    &.img4 {
                        // bottom: -3.5rem;
                        right: -2.2rem;
                        width: 5rem;
                    }
                    &.img5 {
                        bottom: 0;
                        // left: 0.5rem;
                        width: 4.11rem;
                        z-index: 101;
                    }
                }
            }
        }
        &.swiper-slide2 {
            .container-bg {
                background: url('./../images/con-bg.png') no-repeat;
                width: 88%;
                height: 11.7rem;
                background-size: 100% 100%;
                margin: 0.69rem auto 0;
                overflow: hidden;
                h2 {
                    color: rgb(255, 198, 40);
                    font-size: 0.5rem;
                    width: 84%;
                    margin: 0.2rem auto;
                    span {
                        font-size: 0.30rem;
                        color: rgb(255, 198, 40);
                        padding-left: 0.25rem;
                    }
                }
                div {
                    width: 84%;
                    margin: 0 auto;
                    height: 2.18rem;
                    overflow: hidden;
                    border: 1px solid rgb(255, 198, 40);
                    img {
                        width: 100%;
                    }
                }
                p {
                    font-size: 0.28rem;
                    text-indent: 0.5rem;
                    width: 84%;
                    margin: 0 auto;
                    color: rgb(255, 198, 40);
                    line-height: 2;
                    z-index: 200;
                    margin-top: 0.1rem;
                }
            }
            .man-item {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 4.5rem;
                img {
                    display: inline-block;
                    position: absolute;
                    &.img1 {
                        // bottom: -2.5rem;
                        left: -1rem;
                        width: 4.18rem;
                    }
                    &.img2 {
                        // bottom: -2.5rem;
                        left: -0.2rem;
                        width: 5rem;
                        z-index: 100;
                    }
                    &.img3 {
                        // bottom: -2.5rem;
                        right: -0.8rem;
                        width: 5.37rem;
                        z-index: 99;
                    }
                    &.img4 {
                        // bottom: -3.5rem;
                        right: -2.2rem;
                        width: 5rem;
                    }
                    &.img5 {
                        bottom: 0;
                        // left: 0.5rem;
                        width: 4.11rem;
                        z-index: 101;
                    }
                }
            }
        }
        &.swiper-slide3 {
            .container-bg {
                background: url('./../images/con-bg.png') no-repeat;
                width: 88%;
                height: 11.7rem;
                background-size: 100% 100%;
                margin: 0.69rem auto 0;
                overflow: hidden;
                h2 {
                    color: rgb(255, 198, 40);
                    font-size: 0.5rem;
                    width: 76%;
                    margin: 0.2rem auto;
                    span {
                        font-size: 0.2rem;
                        color: rgb(255, 198, 40);
                        padding-left: 0.25rem;
                    }
                }
                ul {
                    width: 76%;
                    margin: 0 auto;
                    li {
                        height: 0.8rem;
                        width: 100%;
                        margin-top: 0.3rem;
                        color: #000000;
                        font-size: 0.4rem;
                        line-height: 0.8rem;
                        text-align: center;
                        font-weight: bold;
                        &.item1 {
                            background: url('./../images/li-bg.png') no-repeat;
                            background-position: 0 0;
                            background-size: 100% auto;
                        }
                        &.item2 {
                            background: url('./../images/li-bg.png') no-repeat;
                            background-position: 0 -0.8rem;
                            background-size: 100% auto;
                        }
                        &.item3 {
                            background: url('./../images/li-bg.png') no-repeat;
                            background-position: 0 -1.6rem;
                            background-size: 100% auto;
                        }
                        &.item4 {
                            background: url('./../images/li-bg.png') no-repeat;
                            background-position: 0 -2.4rem;
                            background-size: 100% auto;
                        }
                    }
                }
            }
            .man-item {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 4.5rem;
                img {
                    display: inline-block;
                    position: absolute;
                    &.img1 {
                        // bottom: -2.5rem;
                        left: -1rem;
                        width: 4.18rem;
                    }
                    &.img2 {
                        // bottom: -2.5rem;
                        left: -0.2rem;
                        width: 5rem;
                        z-index: 100;
                    }
                    &.img3 {
                        // bottom: -2.5rem;
                        right: -0.8rem;
                        width: 5.37rem;
                        z-index: 99;
                    }
                    &.img4 {
                        // bottom: -3.5rem;
                        right: -2.2rem;
                        width: 5rem;
                    }
                    &.img5 {
                        bottom: 0;
                        // left: 0.5rem;
                        width: 4.11rem;
                        z-index: 101;
                    }
                }
            }
        }
        &.swiper-slide4 {
            .container-bg {
                background: url('./../images/con-bg.png') no-repeat;
                width: 88%;
                height: 11.7rem;
                background-size: 100% 100%;
                margin: 0.69rem auto 0;
                overflow: hidden;
                h2 {
                    color: rgb(255, 198, 40);
                    font-size: 0.5rem;
                    width: 76%;
                    margin: 0.2rem auto;
                    span {
                        font-size: 0.20rem;
                        color: rgb(255, 198, 40);
                        padding-left: 0.25rem;
                    }
                }
                ul {
                    width: 76%;
                    margin: 0 auto;
                    li {
                        height: 0.8rem;
                        width: 100%;
                        margin-top: 0.3rem;
                        color: #000000;
                        font-size: 0.4rem;
                        line-height: 0.8rem;
                        text-align: center;
                        font-weight: bold;
                        &.item1 {
                            background: url('./../images/li-bg.png') no-repeat;
                            background-position: 0 0;
                            background-size: 100% auto;
                        }
                    }
                }
                p {
                    width: 76%;
                    margin: 0.2rem auto 0;
                    color: rgb(255, 198, 40);
                    line-height: 2.5;
                    font-size: 0.24rem;
                    position: relative;
                    z-index: 999;
                }
            }
            .man-item {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 6.0rem;
                img {
                    display: inline-block;
                    position: absolute;
                    &.img2 {
                        // bottom: -0.5rem;
                        right: -2rem;
                        width: 5.18rem;
                        // z-index: 100;
                    }
                    &.img5 {
                        bottom: -0.5rem;
                        right: -1rem;
                        width: 4.11rem;
                        // z-index: 101;
                    }
                }
            }
        }
        &.swiper-slide5 {
            .container-bg {
                background: url('./../images/con-bg.png') no-repeat;
                width: 88%;
                height: 11.7rem;
                background-size: 100% 100%;
                margin: 0.69rem auto 0;
                overflow: hidden;
                h2 {
                    color: rgb(255, 198, 40);
                    font-size: 0.5rem;
                    width: 76%;
                    margin: 0.2rem auto;
                    span {
                        font-size: 0.20rem;
                        color: rgb(255, 198, 40);
                        padding-left: 0.25rem;
                    }
                }
                ul {
                    width: 76%;
                    margin: 0 auto;
                    li {
                        height: 0.8rem;
                        width: 100%;
                        margin-top: 0.3rem;
                        color: #000000;
                        font-size: 0.4rem;
                        line-height: 0.8rem;
                        text-align: center;
                        font-weight: bold;
                        &.item1 {
                            background: url('./../images/li-bg.png') no-repeat;
                            background-position: 0 0;
                            background-size: 100% auto;
                        }
                    }
                }
                p {
                    width: 76%;
                    margin: 0.2rem auto 0;
                    color: rgb(255, 198, 40);
                    line-height: 2.5;
                    font-size: 0.24rem;
                    position: relative;
                    z-index: 999;
                }
            }
            .man-item {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 6.0rem;
                img {
                    display: inline-block;
                    position: absolute;
                    &.img2 {
                        right: -2rem;
                        width: 5.18rem;
                    }
                    &.img5 {
                        bottom: -0.5rem;
                        right: -1rem;
                        width: 4.11rem;
                        // z-index: 101;
                    }
                }
            }
        }
        &.swiper-slide6 {
            .container-bg {
                background: url('./../images/con-bg.png') no-repeat;
                width: 88%;
                height: 11.7rem;
                background-size: 100% 100%;
                margin: 0.69rem auto 0;
                overflow: hidden;
                h2 {
                    color: rgb(255, 198, 40);
                    font-size: 0.5rem;
                    width: 76%;
                    margin: 0.2rem auto;
                    span {
                        font-size: 0.20rem;
                        color: rgb(255, 198, 40);
                        padding-left: 0.25rem;
                    }
                }
                ul {
                    width: 76%;
                    margin: 0 auto;
                    li {
                        height: 0.8rem;
                        width: 100%;
                        margin-top: 0.3rem;
                        color: #000000;
                        font-size: 0.4rem;
                        line-height: 0.8rem;
                        text-align: center;
                        font-weight: bold;
                        &.item1 {
                            background: url('./../images/li-bg.png') no-repeat;
                            background-position: 0 0;
                            background-size: 100% auto;
                        }
                    }
                }
                p {
                    width: 76%;
                    margin: 0.2rem auto 0;
                    color: rgb(255, 198, 40);
                    line-height: 2.5;
                    font-size: 0.24rem;
                    position: relative;
                    z-index: 999;
                }
            }
            .man-item {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 6.0rem;
                img {
                    display: inline-block;
                    position: absolute;
                    &.img2 {
                        right: -2rem;
                        width: 5.18rem;
                    }
                    &.img5 {
                        bottom: -0.5rem;
                        right: -1rem;
                        width: 4.11rem;
                        // z-index: 101;
                    }
                }
            }
        }
        &.swiper-slide7 {
            .container-bg {
                background: url('./../images/con-bg.png') no-repeat;
                width: 88%;
                height: 11.7rem;
                background-size: 100% 100%;
                margin: 0.69rem auto 0;
                overflow: hidden;
                h2 {
                    color: rgb(255, 198, 40);
                    font-size: 0.5rem;
                    width: 76%;
                    margin: 0.2rem auto;
                    span {
                        font-size: 0.20rem;
                        color: rgb(255, 198, 40);
                        padding-left: 0.25rem;
                    }
                }
                ul {
                    width: 76%;
                    margin: 0 auto;
                    li {
                        height: 0.8rem;
                        width: 100%;
                        margin-top: 0.3rem;
                        color: #000000;
                        font-size: 0.4rem;
                        line-height: 0.8rem;
                        text-align: center;
                        font-weight: bold;
                        &.item1 {
                            background: url('./../images/li-bg.png') no-repeat;
                            background-position: 0 0;
                            background-size: 100% auto;
                        }
                    }
                }
                p {
                    width: 76%;
                    margin: 0.2rem auto 0;
                    color: rgb(255, 198, 40);
                    line-height: 2.5;
                    font-size: 0.24rem;
                    position: relative;
                    z-index: 100000;
                }
            }
            .man-item {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 6.0rem;
                img {
                    display: inline-block;
                    position: absolute;
                    &.img2 {
                        right: -2rem;
                        width: 5.18rem;
                    }
                    &.img5 {
                        bottom: -0.5rem;
                        right: -1rem;
                        width: 4.11rem;
                        // z-index: 101;
                    }
                }
            }
        }
        &.swiper-slide8 {
            .container-bg {
                background: url('./../images/con-bg.png') no-repeat;
                width: 88%;
                height: 11.7rem;
                background-size: 100% 100%;
                margin: 0.69rem auto 0;
                overflow: hidden;
                h2 {
                    color: rgb(255, 198, 40);
                    font-size: 0.5rem;
                    width: 76%;
                    margin: 0.2rem auto;
                    span {
                        font-size: 0.18rem;
                        color: rgb(255, 198, 40);
                        padding-left: 0.25rem;
                    }
                }
                .img-show {
                    width: 76%;
                    margin: 0.2rem auto;
                    position: relative;
                    img {
                        border: 0.1rem solid rgb(255, 198, 40);
                        box-sizing: border-box;
                        display: inline-block;
                        // position: absolute;
                        &.img1 {
                            width: 48%;
                            margin-right: 3%;
                        }
                        &.img2 {
                            width: 48%;
                        }
                        &.img3 {
                            width: 100%;
                        }
                        &.img4 {
                            width: 48%;
                            margin-right: 3%;
                        }
                        &.img5 {
                            width: 48%;
                        }
                    }
                }
            }
        }
        &.swiper-slide9 {
            .container-bg {
                background: url('./../images/con-bg.png') no-repeat;
                width: 88%;
                height: 11.7rem;
                background-size: 100% 100%;
                margin: 0.69rem auto 0;
                overflow: hidden;
                h2 {
                    color: rgb(255, 198, 40);
                    font-size: 0.5rem;
                    width: 76%;
                    margin: 0.2rem auto;
                    span {
                        font-size: 0.25rem;
                        color: rgb(255, 198, 40);
                        padding-left: 0.25rem;
                    }
                }
                form {
                    input {
                        width: 70%;
                        display: block;
                        margin: 0 auto;
                        font-size: 0.4rem;
                        color: #000000;
                        padding: 0.2rem 0.2rem;
                        border: 1px solid rgb(255, 198, 40);
                        margin-top: 0.1rem;
                        box-sizing: border-box;
                        &.sub-btn {
                            line-height: 1;
                            background: url('./../images/li-bg.png') no-repeat;
                            background-size: 100% auto;
                        }
                        &::-webkit-input-placeholder {
                            /* WebKit browsers */
                            color: #000000;
                        }
                        &:-moz-placeholder {
                            /* Mozilla Firefox 4 to 18 */
                            color: #000000;
                        }
                        &::-moz-placeholder {
                            /* Mozilla Firefox 19+ */
                            color: #000000;
                        }
                        &:-ms-input-placeholder {
                            /* Internet Explorer 10+ */
                            color: #000000;
                        }
                    }
                }
                #allmap {
                    width: 70%;
                    margin: 0.2rem auto 0;
                    height: 2.80rem;
                }
                p {
                    font-size: 0.25rem;
                    text-align: center;
                    color: rgb(255, 198, 40);
                    width: 70%;
                    line-height: 2;
                    margin: 0.2rem auto;
                }
            }
        }
    }
}