@charset "UTF-8";
body,
html {
  width: 100%;
  height: 100%; }

@-webkit-keyframes rotating {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

@keyframes rotating {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

@-webkit-keyframes enlarge {
  0% {
    transform: scale(0); }
  50% {
    transform: scale(1.5); }
  100% {
    transform: scale(1); } }

@keyframes enlarge {
  0% {
    transform: scale(0); }
  50% {
    transform: scale(1.5); }
  100% {
    transform: scale(1); } }

.enlarge {
  -webkit-animation-name: enlarge;
  animation-name: enlarge; }

@-webkit-keyframes start {
  0%,
  30% {
    opacity: 0;
    -webkit-transform: translate(0, 10px); }
  60% {
    opacity: 1;
    -webkit-transform: translate(0, 0); }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, -8px); } }

@-moz-keyframes start {
  0%,
  30% {
    opacity: 0;
    -moz-transform: translate(0, 10px); }
  60% {
    opacity: 1;
    -moz-transform: translate(0, 0); }
  100% {
    opacity: 0;
    -moz-transform: translate(0, -8px); } }

@keyframes start {
  0%,
  30% {
    opacity: 0;
    transform: translate(0, 10px); }
  60% {
    opacity: 1;
    transform: translate(0, 0); }
  100% {
    opacity: 0;
    transform: translate(0, -8px); } }

img {
  display: block; }

.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: url(../images/loading.svg) no-repeat 60% 40% #000000;
  background-size: 7.96875rem 6.40625rem;
  z-index: 999999;
  color: #fff;
  font-size: 1.09rem; }
  .loading p {
    text-align: center;
    width: 100%;
    position: absolute;
    font-family: helvetica "微软雅黑";
    top: 40%;
    transform: translateY(4rem); }

.swiper-container {
  width: 100%;
  height: 100%;
  background: #fff; }
  .swiper-container .audio_btn {
    position: fixed;
    width: 0.6rem;
    height: 0.6rem;
    top: 20px;
    right: 20px;
    background: url(./../images/normalMusic.svg) no-repeat;
    background-size: contain;
    z-index: 10;
    transform: rotate(360deg); }
    .swiper-container .audio_btn audio {
      visibility: hidden; }
    .swiper-container .audio_btn.rotate {
      animation: 1.5s rotating linear infinite;
      -webkit-animation: 1.5s rotating linear infinite; }
  .swiper-container #array {
    position: fixed;
    left: 50%;
    margin-left: -0.25rem;
    bottom: 50px;
    width: 0.5rem;
    height: 0.4rem;
    z-index: 999;
    animation: start 1.5s infinite ease-in-out;
    -webkit-animation: start 1.5s infinite ease-in-out; }
  .swiper-container .swiper-slide {
    width: 100%;
    height: 100%;
    position: relative;
    background: url("./../images/bg.png") no-repeat left top;
    background-size: 100% 100%; }
    .swiper-container .swiper-slide .container-bg {
      background: url("./../images/con-bg.png") no-repeat;
      width: 88%;
      height: 92%;
      background-size: 100% 100%;
      margin: 5% auto 0;
      overflow: hidden; }
      .swiper-container .swiper-slide .container-bg .content {
        width: 88%;
        background: url("./../images/content-border.png") no-repeat center;
        margin: 0 auto;
        background-size: 90% 80%;
        height: 76%;
        overflow: hidden; }
      .swiper-container .swiper-slide .container-bg .title {
        color: #ffc628;
        font-size: 0.46rem;
        width: 76%;
        margin: 0.2rem auto 0; }
        .swiper-container .swiper-slide .container-bg .title span {
          font-size: 0.18rem;
          color: #ffc628;
          padding-left: 0.25rem; }
      .swiper-container .swiper-slide .container-bg ul {
        width: 76%;
        margin: 0 auto; }
        .swiper-container .swiper-slide .container-bg ul li {
          height: 0.7rem;
          width: 100%;
          margin-top: 0.1rem;
          color: #000000;
          font-size: 0.4rem;
          line-height: 0.7rem;
          text-align: center;
          font-weight: bold; }
          .swiper-container .swiper-slide .container-bg ul li.item1 {
            background: url("./../images/li-bg.png") no-repeat;
            background-position: 0 0;
            background-size: 100% auto; }
          .swiper-container .swiper-slide .container-bg ul li.item2 {
            background: url("./../images/li-bg.png") no-repeat;
            background-position: 0 -0.8rem;
            background-size: 100% auto; }
          .swiper-container .swiper-slide .container-bg ul li.item3 {
            background: url("./../images/li-bg.png") no-repeat;
            background-position: 0 -1.6rem;
            background-size: 100% auto; }
          .swiper-container .swiper-slide .container-bg ul li.item4 {
            background: url("./../images/li-bg.png") no-repeat;
            background-position: 0 -2.4rem;
            background-size: 100% auto; }
    .swiper-container .swiper-slide .man-item {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 33.3%; }
      .swiper-container .swiper-slide .man-item img {
        display: inline-block;
        position: absolute; }
        .swiper-container .swiper-slide .man-item img.img1 {
          left: -0.5rem;
          width: 3rem; }
        .swiper-container .swiper-slide .man-item img.img2 {
          left: 0.8rem;
          width: 3rem;
          z-index: 100; }
        .swiper-container .swiper-slide .man-item img.img3 {
          right: 0.5rem;
          width: 3.5rem;
          z-index: 99; }
        .swiper-container .swiper-slide .man-item img.img4 {
          right: -1.0rem;
          width: 3.5rem; }
        .swiper-container .swiper-slide .man-item img.img5 {
          bottom: 0;
          width: 2rem;
          z-index: 101; }
    .swiper-container .swiper-slide.swiper-slide1 .container-bg .content h2 {
      color: #F7D34C;
      font-weight: bold;
      font-size: 0.80rem;
      height: 0.8rem;
      text-align: center;
      line-height: 1;
      margin-top: 10%; }
      .swiper-container .swiper-slide.swiper-slide1 .container-bg .content h2 img {
        width: 50%;
        display: inline-block; }
    .swiper-container .swiper-slide.swiper-slide1 .container-bg .content .img-item {
      margin-top: 10%; }
      .swiper-container .swiper-slide.swiper-slide1 .container-bg .content .img-item .item-row {
        text-align: center; }
        .swiper-container .swiper-slide.swiper-slide1 .container-bg .content .img-item .item-row img {
          width: 1.2rem;
          height: 1.2rem;
          display: inline-block; }
    .swiper-container .swiper-slide.swiper-slide1 .container-bg .content h3 {
      color: #F7D34C;
      font-size: 0.30rem;
      text-align: center; }
    .swiper-container .swiper-slide.swiper-slide2 .container-bg div {
      width: 84%;
      margin: 0 auto;
      height: 2.0rem;
      overflow: hidden;
      border: 1px solid #ffc628; }
      .swiper-container .swiper-slide.swiper-slide2 .container-bg div img {
        width: 100%; }
    .swiper-container .swiper-slide.swiper-slide2 .container-bg p {
      font-size: 0.22rem;
      text-indent: 0.5rem;
      width: 84%;
      margin: 0 auto;
      color: #ffc628;
      line-height: 1.5;
      z-index: 200;
      margin-top: 0.1rem; }
    .swiper-container .swiper-slide.swiper-slide4 .container-bg p {
      width: 76%;
      margin: 0.2rem auto 0;
      color: #ffc628;
      line-height: 1.5;
      font-size: 0.20rem;
      position: relative;
      z-index: 999; }
    .swiper-container .swiper-slide.swiper-slide4 .man-item img.img5 {
      bottom: 0;
      right: -0.5rem;
      width: 2.5rem; }
    .swiper-container .swiper-slide.swiper-slide8 .container-bg .img-show {
      width: 76%;
      margin: 0.2rem auto;
      position: relative; }
      .swiper-container .swiper-slide.swiper-slide8 .container-bg .img-show img {
        border: 0.02rem solid #ffc628;
        box-sizing: border-box;
        display: block;
        float: left;
        margin-top: 0.1rem; }
        .swiper-container .swiper-slide.swiper-slide8 .container-bg .img-show img.img1 {
          width: 48%;
          height: 1.6rem;
          margin-right: 2%; }
        .swiper-container .swiper-slide.swiper-slide8 .container-bg .img-show img.img2 {
          width: 48%;
          height: 1.6rem; }
        .swiper-container .swiper-slide.swiper-slide8 .container-bg .img-show img.img3 {
          width: 100%;
          height: 3rem; }
        .swiper-container .swiper-slide.swiper-slide8 .container-bg .img-show img.img4 {
          width: 48%;
          height: 1.6rem;
          margin-right: 2%; }
        .swiper-container .swiper-slide.swiper-slide8 .container-bg .img-show img.img5 {
          width: 48%;
          height: 1.6rem; }
    .swiper-container .swiper-slide.swiper-slide9 .container-bg form input {
      width: 74%;
      display: block;
      margin: 0 auto;
      font-size: 0.34rem;
      color: #000000;
      padding: 0.1rem 0.1rem;
      border: 1px solid #ffc628;
      margin-top: 0.1rem;
      box-sizing: border-box; }
      .swiper-container .swiper-slide.swiper-slide9 .container-bg form input.sub-btn {
        line-height: 1;
        background: url("./../images/li-bg.png") no-repeat;
        background-size: 100% auto; }
      .swiper-container .swiper-slide.swiper-slide9 .container-bg form input::-webkit-input-placeholder {
        /* WebKit browsers */
        color: #000000; }
      .swiper-container .swiper-slide.swiper-slide9 .container-bg form input:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #000000; }
      .swiper-container .swiper-slide.swiper-slide9 .container-bg form input::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #000000; }
      .swiper-container .swiper-slide.swiper-slide9 .container-bg form input:-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: #000000; }
    .swiper-container .swiper-slide.swiper-slide9 .container-bg #allmap {
      width: 74%;
      margin: 0.2rem auto 0;
      height: 2.4rem;
      overflow: hidden; }
    .swiper-container .swiper-slide.swiper-slide9 .container-bg p {
      font-size: 0.20rem;
      text-align: center;
      color: #ffc628;
      width: 70%;
      line-height: 2;
      margin: 0.1rem auto; }
